# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Distribution
dist/
*.xcarchive
SKtimer 20??-??-?? ??-??-??/

# macOS
.DS_Store

# SwiftPM and tooling cache
.build/
.swiftpm/
